<form method="post" action="{{ path('app_content_delete', {'id': content.id}) }}" onsubmit="return confirm('Vouslez-vous vraiment supprimer ce contenu ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ content.id) }}">
    <button class="btn">Suprimer</button>
</form>
