{% extends '/admin/index.html.twig' %}

{% block title %}Modifier Contenu{% endblock %}

{% block body %}
    <h1>Modifier Contenu</h1>

    {{ include('content/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('content/_delete_form.html.twig') }}

    <a href="{{ path('app_content_index') }}">Retourner à la liste</a>
{% endblock %}
